.button {
  background-color: transparent;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.box {
  position: relative;
  width: 220px;
}

.button {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--bg);
  color: var(--text-h);
  box-shadow: var(--shadow);
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: 90%;
  left: 0;
  width: 90%;
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 10px;
  box-shadow: var(--shadow);
  z-index: 3;
}

.item {
  padding: 10px 16px;
  cursor: pointer;
  color: var(--text-h);
  transition: background 0.2s ease;
}

.item:hover {
  background: var(--accent-bg);
}
