.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--border);
}

.title {
  font-size: 1rem;
  font-weight: 700;
  /* line-height: 1.5;
  margin: 0; */
}

.button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  color: var(--text-h);
}

/* .title {
  font-size: 1rem;
  font-weight: 700;
} */
