.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.wrapperText {
  padding: 10px;
}

.wrapperTextLight {
  border-top: 1px solid #d3d0d0;
}

.wrapperTextDark {
  border: none;
}

.countryWrapper {
  padding: 0 40px;
}

.countryItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 310px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow);
  color: var(--text-h);
  background: var(--bg);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1440px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.countryName {
  font-weight: 700;
}

.image {
  max-width: 310px;
  height: 192px;
}
