:root {
  --bg: #ffffff;
  --text-h: #08060d;
  --text: #6b6375;
  --border: #e5e4e7;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  --accent-bg: rgba(0, 0, 0, 0.06);
  --pagination-bg: rgba(0, 0, 0, 0.849);

  --font: 'Nunito Sans', system-ui, sans-serif;
}

.dark {
  --bg: #16171d;
  --text-h: #f3f4f6;
  --text: #9ca3af;
  --border: #2e303a;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
  --accent-bg: rgba(255, 255, 255, 0.08);
  --pagination-bg: rgba(255, 255, 255, 0.952);
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--bg);
  color: var(--text-h);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
